<aside id="sidebar-wrapper">
    <div class="sidebar-brand">
        <img src="./images/siri.jpg" class="author-img"/>
        <h2>Siri Mykland</h2>
			<p class="email">
				<i class="far fa-envelope"></i>
				<a href="mailto:sirim_mykland@hotmail.com" data-rel="external">sirim_mykland@hotmail.com</a>
			</p>
			<p class="email">
				<i class="far fa-envelope"></i>
				<a href="mailto:sirmy@samfundet.no" data-rel="external">sirmy@samfundet.no</a>
			</p>
			<p class="number">
				<i class="fas fa-mobile-alt"></i>
				<a href="tel:0090036801" data-rel="external">+47 900 36 801</a>
			</p>
    </div>
   <div class="sidebar-nav">
	 <nav>
        <div>
            <ul>
                <li><a aria-current="page" class="active" data-nav-section="home" href="./">Home</a></li>
                <li><a data-nav-section="about" href="./about.pl">About</a></li>
                <li><a href="./cv.pl">CV</a></li>
                <li><a href="./experience.pl">Experience</a></li>
                <li><a href="./trivia.pl">Trivia Game</a></li>
                <li><a href="http://io.samfundet.no">I/O Project</a></li>
                <li><a href="https://eit-gruppe1.web.app/">IoT Project</a></li>
            </ul>
        </div>
     </nav>
     <nav>
        <ul>
            <li><a href="https://github.com/sirimykland" target="_blank" rel="noopener noreferrer">
					<i class="fab fa-github"></i>
				</a></li>
            <li><a href="https://www.instagram.com/sirimykland/" target="_blank" rel="noopener noreferrer">
					<i class="fab fa-instagram"></i>
				</a></li>
            <li><a href="https://www.linkedin.com/in/sirimykland/" target="_blank" rel="noopener noreferrer">
					<i class="fab fa-linkedin"></i>
				</a></li>
        </ul>
     </nav>
     <div>
        <p><small>Made with <i class="fas fa-heart" aria-hidden="true"></i> and <i class="fas fa-beer"
                    aria-hidden="true"></i></small></p>
        <p><small>More is coming!</small></p>
     </div>
   </div>
</aside>

<div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </nav>
</div>
