<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <TMPL_INCLUDE NAME='global_sources.tmpl'>
    <TMPL_VAR NAME=HEAD>
    <title><TMPL_VAR NAME=TITLE></title>
  </head>
  <body>

   <div id='wrapper'>
	<div>
		<TMPL_INCLUDE NAME='sidebar.tmpl'>
	</div>

	<section id="content-wrapper">
		<TMPL_VAR NAME=CONTENT>
	</section>
   </div>
   <script src="script.js"></script>
  </body>
</html>
